@use 'src/app/styles/buttons.scss';
@use 'src/app/styles/input.scss';

.player-setup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  color: #f9fafb;

  h2 {
    color: #4186f6;
  }

  .setup-form {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    padding: 32px;
    border-radius: 18px;
    background: #2f3a45;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.10);

    label {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      color: #f9fafb;
      font-size: 1.12rem;
      font-weight: 500;
    }
  }

  .buttons-container {
    display: flex;
    gap: 1.3rem;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
    margin: 2rem;
  }
}