@use 'src/app/styles/main-card.scss';
@use 'src/app/styles/buttons.scss';
@use 'src/app/styles/input.scss';

.player-setup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  color: #f9fafb;

  h2 {
    color: #4186f6;
  }

  .main-card {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    text-align: center;

    label {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      font-size: 1.12rem;
    }
  }

  .buttons-container {
    display: flex;
    gap: 1.3rem;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
    margin: 2rem;
  }
}