<div class="player-setup">
  <h2>{{ "playerSetup.header" | translate }}</h2>

  <form #playerForm="ngForm" class="setup-form">
    <label>
      {{ "playerSetup.player3Label" | translate }}
      <input
        name="player3"
        [(ngModel)]="players[0].name"
        required
        placeholder="{{ 'playerSetup.playerOnePlaceholder' | translate }}"
      />
    </label>

    <label>
      {{ "playerSetup.player5Label" | translate }}
      <input
        name="player5"
        [(ngModel)]="players[1].name"
        required
        placeholder="{{ 'playerSetup.playerTwoPlaceholder' | translate }}"
      />
    </label>

    <label>
      {{ "playerSetup.player8Label" | translate }}
      <input
        name="player8"
        [(ngModel)]="players[2].name"
        required
        placeholder="{{ 'playerSetup.playerThreePlaceholder' | translate }}"
      />
    </label>
  </form>

  <div class="buttons-container">
    <button
      [disabled]="!playerForm.valid"
      class="primary-button"
      (click)="startGame()"
    >
      {{ "buttons.startGame" | translate }}
    </button>

    <button class="secondary-button" (click)="goToHome()">
      {{ "buttons.goBackHome" | translate }}
    </button>
  </div>
</div>
