<form (ngSubmit)="startGame()" #playerForm="ngForm" class="setup-form">
  <label>
    Player for 3 tricks:
    <input name="player3" [(ngModel)]="players[0].name" required />
  </label>

  <label>
    Player for 5 tricks:
    <input name="player5" [(ngModel)]="players[1].name" required />
  </label>

  <label>
    Player for 8 tricks (Dealer):
    <input name="player8" [(ngModel)]="players[2].name" required />
  </label>
</form>

<div class="buttons">
  <button type="submit" [disabled]="!playerForm.valid" class="start-btn">
    🚀 Start Game
  </button>

  <button class="home-button" (click)="goToHome()">
    {{ "notFound.button" | translate }}
  </button>
</div>
