<div class="info-page">
  <h1>{{ "rules.title" | translate }}</h1>
  <p>{{ "rules.intro" | translate }}</p>

  <ng-container *ngFor="let section of rulesSections">
    <h2>{{ section.title | translate }}</h2>
    <ng-container *ngFor="let paraKey of section.paragraphs">
      <p [class.highlight]="section.highlight?.includes(paraKey)">
        {{ paraKey | translate }}
      </p>
    </ng-container>
  </ng-container>

  <p style="margin-top: 2rem; font-size: 1rem">
    <em>{{ footerKey | translate }}</em>
  </p>

  <button class="secondary-button" (click)="goToHome()">
    {{ "buttons.goBackHome" | translate }}
  </button>
</div>
