.header {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 15px 20px;
  border-bottom: 1px solid #f5d774;
  background-color: #262828;

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 2.5rem;
      margin-right: 0.7rem;
    }
  }

  .language-selector {
    display: flex;
    gap: 8px;
    margin-left: auto;

    .language-btn {
      padding: 0;
      border: none;
      background: none;

      img {
        display: block;
        width: 27px;
        border: 1.5px solid rgb(182, 182, 182);
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 1.3rem;
  }
}