<header class="header">
  <div (click)="goToHome()" class="logo">
    <img src="assets/images/cards.png" alt="Cards" />
    <h2>{{ "title" | translate }}</h2>
  </div>

  <div class="language-selector">
    <button class="language-btn" (click)="translateText('bg')">
      <img src="assets/images/flags/bg.svg" alt="Bulgarian flag" />
    </button>

    <button class="language-btn" (click)="translateText('en')">
      <img src="assets/images/flags/gb.svg" alt="British flag" />
    </button>
  </div>
</header>
