.page-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;

  h1 {
    color: #4186f6;
    font-size: 2.8rem;
    letter-spacing: 1px;
  }

  p {
    max-width: 400px;
    margin-bottom: 36px;
    font-size: 1.25rem;
    line-height: 1.6;
  }

  button {
    padding: 12px 36px;
    border: none;
    border-radius: 22px;
    background: #4186f6;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;


    &:hover,
    &:focus {
      background: #1e4fa2;
      box-shadow: 0 4px 20px rgba(65, 134, 246, 0.18);
    }
  }
}