@use 'src/app/styles/buttons.scss';

.page-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;

  h1 {
    color: #4186f6;
    font-size: 2.8rem;
    letter-spacing: 1px;
  }

  img {
    width: 10em;
  }

  p {
    max-width: 400px;
    margin-bottom: 36px;
    font-size: 1.25rem;
    line-height: 1.6;
  }
}

@media (max-width: 500px) {
  .page-wrapper {
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    h1 {
      font-size: 1.4rem;
      letter-spacing: 0.5px;
    }

    p {
      margin-bottom: 18px;
      padding: 0 4vw;
      font-size: 1rem;
    }
  }
}