<div class="home-container">
  <img src="assets/images/logo.png" alt="App Logo" class="app-logo" />
  <h1>
    {{ "home.title" | translate }}
    <span aria-hidden="true" title="cards">{{
      "home.titleEmoji" | translate
    }}</span>
  </h1>

  <p [innerHTML]="'home.description' | translate"></p>

  <div class="home-actions">
    <button (click)="goToPlayers()">
      {{ "buttons.startGame" | translate }}
    </button>

    <button class="rules-btn" (click)="goToRules()">
      {{ "buttons.rules" | translate }}
    </button>
  </div>
</div>
