@use 'src/app/styles/buttons.scss';
@use 'src/app/styles/main-card.scss';

.main-card {
  display: flex;
  flex-direction: column;

  .app-logo {
    width: 80px;
    margin-bottom: 18px;
    padding: 8px;
    border-radius: 16px;
    background: #fff;
  }

  h1 {
    margin: 0;
    color: #4186f6;
    font-size: 2.3rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;

    span {
      font-size: 1.5em;
      vertical-align: middle;
    }
  }

  p {
    margin-bottom: 32px;
    font-size: 1.13rem;
    line-height: 1.7;
    text-align: center;
    opacity: 0.92;

    span {
      margin: 0 3px;
      font-size: 1.2em;
      vertical-align: middle;
    }
  }

  .home-actions {
    display: flex;
    gap: 1.5rem;
    margin-top: 10px;
  }

}

@media (max-width: 500px) {
  .main-card {
    a {
      margin-right: 0 !important;
    }

    h1 {
      font-size: 1.35rem;

      span {
        font-size: 1.2em;
      }
    }

    p {
      margin-bottom: 22px;
      font-size: 0.98rem;

      span {
        font-size: 1.05em;
      }
    }

    .home-actions {
      gap: 0.8rem;
      flex-direction: column;

      button {
        justify-content: center;
        width: 13rem;
        padding: 10px;
        font-size: 1rem;
      }
    }
  }
}